body {
    background-color: rgb(216, 231, 230)66, 240);
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
}

h2, {
    width: 80%;
    margin: 0 auto;
    color: #111; 
    margin-top: 40px;
    padding-left: 100px;
    font-size: 40px;
    margin-left: 0 auto;
}


